<div class="dialog">
  <form [formGroup]="personForm" class="form">
    <mat-form-field class="example-full-width">
      <mat-label>First Name</mat-label>
      <input formControlName="firstName" matInput placeholder="First Name" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" matInput placeholder="Last Name" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Age</mat-label>
      <input formControlName="age" matInput placeholder="Age" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Profession</mat-label>
      <input formControlName="profession" matInput placeholder="Profession" />
    </mat-form-field>
  </form>
</div>
<button mat-raised-button (click)="onSubmit()">Edit</button>
<button mat-raised-button (click)="onClose()">Cancel</button>
