<div class="dialog">
  <!-- <form [formGroup]="service.form"> -->
  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Ex. Pizza" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Ex. Pizza" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Age</mat-label>
    <input matInput placeholder="Ex. Pizza" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Profession</mat-label>
    <input matInput placeholder="Ex. Pizza" />
  </mat-form-field>
  <!-- </form> -->
</div>
<button mat-raised-button>Basic</button>
